body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3273a8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3264a8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Cor de fundo do conteúdo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 8px; /* Cantos arredondados */
  margin-top: 20px;
}

.profile-image {
  float: left;
  margin-right: 10px;
}

.logo {
  float: left;
  margin-right: 10px;
}

.logo img {
  width: 50px; /* Ajuste conforme necessário */
  border-radius: 50%; /* Adiciona borda arredondada */
}

.profile-image img {
  width: 150px;
  border-radius: 50%;
}

.project {
  margin-bottom: 20px;
}

h2 {
text-align: center;
}

.container h2 {
color: #333;
}

.centered-links {
margin-top: 20px;
display: flex;
justify-content: center;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
